{{ $data := . }}

{{ define "name" }}
  {{ if .url }}
    <a href="{{ .url }}">{{ .name }}</a>
  {{ else }}
    {{ .name }}
  {{ end }}
{{ end }}

<ul class="list-unstyled">
  {{ range $link := $data }}
    <li {{ if $link.class }}class="{{ $link.class }}"{{ end }}>
      {{ if $link.date }}
        <div class="d-flex align-items-start justify-content-between">
          <strong>{{ template "name" $link }}</strong>
          <span class="d-none d-sm-inline flex-shrink-0 ml-2 text-muted">{{ $link.date }}</span>
        </div>
      {{ else if or $link.bold $link.parts $link.description }}
        <strong class="d-block">
          {{ template "name" $link }}
        </strong>
      {{ else }}
        {{ template "name" $link }}
      {{ end }}

      {{ if $link.parts }}
        <div>
          <strong>Parts:</strong>
          {{ range $i, $url := $link.parts }}
            <a href="{{ $url }}">({{ add $i 1 }})</a>
          {{ end }}
        </div>
      {{ end }}

      {{ if $link.date }}
        <div class="d-sm-none text-muted">
          {{ $link.date }}
        </div>
      {{ end }}

      {{ $link.description | markdownify }}
    </li>
  {{ end }}
</ul>
