version: 2
jobs:
  build:
    docker:
      - image: circleci/node:11.10.0
    steps:
      - checkout
      - run:
          name: Install Hugo
          working_directory: ~/bin
          command: wget --output-document - https://github.com/gohugoio/hugo/releases/download/v0.54/hugo_0.54_Linux-64bit.tar.gz | tar --extract --gzip
      - run:
          name: Install Node dependencies
          command: make node_modules
      - run:
          name: Build
          command: PATH=$PATH:~/bin make build
      - persist_to_workspace:
          root: .
          paths:
            - dist
            - Makefile
  test:
    docker:
      - image: circleci/node:8.10.0 # AWS Lambda runtime
    steps:
      - checkout
      - run:
          name: Install Node dependencies
          command: make node_modules
      - run:
          name: Test
          command: make test
      - store_test_results:
          path: junit
  deploy-stage:
    docker:
      - image: circleci/python:3.7.2
    steps:
      - run:
          name: Install s3cmd
          command: pip install --upgrade --user s3cmd==2.0.2
      - attach_workspace:
          at: .
      - deploy:
          name: Deploy to stage S3
          command: PATH=$PATH:~/.local/bin make deploy-stage
  deploy-production:
    docker:
      - image: circleci/python:3.7.2
    steps:
      - run:
          name: Install s3cmd
          command: pip install --upgrade --user s3cmd==2.0.2
      - attach_workspace:
          at: .
      - deploy:
          name: Deploy to production S3
          command: PATH=$PATH:~/.local/bin make deploy-production
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test
      - hold-deploy-stage:
          type: approval
          requires:
            - build
            - test
      - deploy-stage:
          requires:
            - hold-deploy-stage
      - hold-deploy-production:
          type: approval
          requires:
            - build
            - test
      - deploy-production:
          requires:
            - hold-deploy-production
