version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.4.0
    steps:
      - checkout
      - run:
          name: Install Hugo
          working_directory: ~/bin
          command: wget --output-document - https://github.com/gohugoio/hugo/releases/download/v0.25.1/hugo_0.25.1_Linux-64bit.tar.gz | tar --extract --gzip
      - run:
          name: Install minify
          working_directory: ~/bin
          command: wget --output-document - https://bin.equinox.io/c/dhgbqpS8Bvy/minify-stable-linux-amd64.tgz | tar --extract --gzip
      - run:
          name: Install Node dependencies
          command: make node_modules
      - run:
          name: Build
          command: PATH=$PATH:~/bin make build
      - persist_to_workspace:
          root: .
          paths: dist
  deploy-stage:
    docker:
      - image: circleci/python:2.7.15
    steps:
      - run:
          name: Install s3cmd
          command: pip install --upgrade --user s3cmd==2.0.2
      - attach_workspace:
          at: .
      - deploy:
          name: Deploy to stage S3
          command: PATH=$PATH:~/.local/bin s3cmd sync --add-header=Cache-Control:max-age=86400 --cf-invalidate --no-mime-magic --no-preserve --no-progress dist/ s3://stage.chlorate.ca
  deploy-production:
    docker:
      - image: circleci/python:2.7.13
    steps:
      - run:
          name: Install s3cmd
          command: pip install --upgrade --user s3cmd
      - attach_workspace:
          at: .
      - deploy:
          name: Deploy to production S3
          command: PATH=$PATH:~/.local/bin s3cmd sync --add-header=Cache-Control:max-age=86400 --cf-invalidate --no-mime-magic --no-preserve --no-progress dist/ s3://chlorate.ca
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-stage:
          requires:
            - build
      - deploy-production:
          requires:
            - build
          filters:
            branches:
              only: master
