.page-home {
  .container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-contact {
    @include media-breakpoint-up(sm) {
      padding-top: $headings-line-height * $h1-font-size +
        $headings-margin-bottom;
    }
  }

  .col-profiles {
    min-width: 13.5em;
  }
}
