.page-mm10rng {
	.form-inline .form-control {
		width: 5em;
	}

	.th-small {
		min-width: 7em;
		width: 15%;
	}

	.tip {
		display: inline-block;
		width: 1.3em;
		height: 1.3em;
		text-align: center;
		background: $border-color;
		box-shadow: 0 0 0 1px black;
		border-radius: 50%;
		margin-left: 0.25em;
		position: relative;

		&::before {
			content: "?";
		}

		.card {
			display: none;
			position: absolute;
			width: 20em;
			margin-left: -10em;
			text-align: left;
			z-index: 1;
		}

		&:focus,
		&:hover {
			.card {
				display: block;
			}
		}
	}
}
