@import "../node_modules/bootstrap-theme/src/post-bootstrap";

@import "home";
@import "fonts";
@import "split-icons";

.page-input-display {
  @import "../node_modules/input-display/src/index.scss";
}
