html, body {
	height: 100%;
	font-size: 17px;
	overflow: auto;
	text-shadow: 1px 0 black, 0 1px black, 1px 1px black;
}

.card,
.btn:not(.btn-link) {
	box-shadow: 0 0 0 1px black;
}

@import "fonts";
@import "home";
